{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block main_menu %}
<p>Welcome, {{ current_user.username }}!</p>
<p>Your role: <strong>{{ current_user.role }}</strong></p>
<div class="dropdown-center">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Actions
  </button>
  <ul class="dropdown-menu">
    <li><a href="{{ url_for('auth.upload_profile') }}" class="dropdown-item">Upload Profile Image</a></li>
    <li><a href="{{ url_for('auth.update_email') }}" class="dropdown-item">Update Email</a></li>
    <li><a href="{{ url_for('auth.update_password') }}" class="dropdown-item">Update Password</a></li>
    {% if current_user.role == 'admin' %}
    <li><a href="{{ url_for('admin.global_settings') }}" class="dropdown-item">Global Settings</a></li>
    <li><a href="{{ url_for('admin.view_user_data') }}" class="dropdown-item">Users list</a></li>
    <li><a href="{{ url_for('admin.create_editor') }}" class="dropdown-item">Create editor</a></li>
    <li><a href="{{ url_for('admin.change_role') }}" class="dropdown-item">Manage roles</a></li>
    {% endif %}
  </ul>
</div>
{% endblock %}

{% block content %}
<p>content here</p>
{% endblock %}
