{% extends 'base.html' %}
{% block title %}Update details{% endblock %}
{% block content %}
{% include 'sidebar.html' %}
<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
        
            <!-- Main Content -->
            <div id="content">

                {% include 'navbar.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <!-- Begin alerts -->
                    <div class="container mt-4">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}
                            <div role="alert" class="alert alert-info alert-dismissible fade show">
                                    {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <!-- End alerts -->


                    {% include 'page_head.html' %}

                    <!-- Content Row -->
                     <!-- Begin update details form -->
                    <div class="row">
                       <div class="card shadow-lg w-100 mx-auto" style="max-width: 480px;">
                        <div class="card-body">
                            <div class="text-center">
                                <h1 class="card-title h3">Update details</h1>
                            </div>
                            <div class="mt-4">
                                <form method="post">
                                    {{ form.hidden_tag() }}
                                    <p>{{ form.phone.label }}<br>{{ form.phone(class_="form-control") }}</p>
                                    <p>{{ form.address.label }}<br>{{ form.address(class_="form-control") }}</p>
                                    <p>{{ form.company.label }}<br>{{ form.company(class_="form-control") }}</p>
                                    <p>{{ form.submit(class_="form-control") }}</p>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!-- End update details form -->
                    <!-- Content Row -->

                    <div class="row">
                       
                        
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                      
                    </div>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% include 'footer.html' %}

        </div>
        <!-- End of Content Wrapper -->
{% endblock %}

