{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="row mb-2">
    <div class="col-12 col-md-6 mb-3">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <strong class="d-inline-block mb-2 text-primary">World (row 1)</strong>
          <h3 class="card-title">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mb-3">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="card-title">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>    
</div>
<div class="row mb-2">
    <div class="col-12 col-md-6 mb-3">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <strong class="d-inline-block mb-2 text-primary">World (row 2)</strong>
          <h3 class="card-title">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mb-3">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="card-title">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>    
</div>
{% endblock %}
