{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}


<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include 'navbar.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <!-- Begin alerts -->
                    <div class="container mt-4">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}
                            <div role="alert" class="alert alert-info alert-dismissible fade show">
                                    {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <!-- End alerts -->


                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h4 class="h4 mb-0 text-gray-800">Login page</h4>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Begin login form -->
                         <div class="card shadow-lg w-100 mx-auto" style="max-width: 400px;">
                            <div class="card-body">
                            <div class="text-center">
                                <h1 class="card-title h3">Sign in</h1>
                                <p class="card-text text-muted">Sign in below to access your account</p>
                            </div>
                            <div class="mt-4">
                            <form method="POST">
                                {{ form.hidden_tag() }}
                                <div class="mb-4">
                                    {{ form.email.label }} 
                                    {{ form.email(class_="form-control") }}<br>
                                    <!-- <label for="inputName" class="form-label text-muted">Username</label>
                                    <input id="inputName" type="text" class="form-control" name="username" placeholder="Username" required autofocus> -->
                                </div>
                                <div class="mb-4">
                                    {{ form.password.label }} 
                                    {{ form.password(class_="form-control") }}<br>
                                    <!-- <label for="inputPassword" class="form-label text-muted">Password</label>
                                    <input id="inputPassword"type="password" class="form-control" name="password" placeholder="Password" required> -->
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-dark btn-lg">Sign in</button>
                                </div>
                                <p class="text-center text-muted mt-4">Don't have an account yet?
                                    <a href="{{ url_for('auth.register') }}" class="text-decoration-none">Sign up</a>.
                                </p>
                                <p class="text-center text-muted mt-2">Forgot password?
                                    <a href="{{ url_for('auth.forgot_password') }}" class="text-decoration-none">Follow me</a>.
                                </p>
                            </form>
                            </div>
                        </div>
                        </div>
                        <!-- End login form -->
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                    </div>

                    <!-- Content Row -->
                    <div class="row">

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% include 'footer.html' %}

        </div>
        <!-- End of Content Wrapper -->
{% endblock %}