{% extends 'base.html' %}
{% block title %}Add Global Setting{% endblock %}
{% block content %}
{% include 'sidebar.html' %}
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        {% include 'navbar.html' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">


            <!-- Begin alerts -->
            <div class="container mt-4">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div role="alert" class="alert alert-info alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <!-- End alerts -->


            {% include 'page_head.html' %}

            <!-- Content Row -->
            <!-- Begin update global setting form -->
            <div class="row">
                <div class="card shadow-lg w-100 mx-auto" style="max-width: 480px;">
                    <div class="card-body">
                        <div class="text-center">
                            <h1 class="card-title h3">Add global setting</h1>
                        </div>
                        <div class="mt-4">
                            <form method="POST">
                                <div class="mb-3">
                                    <label>Setting Name</label>
                                    <input class="form-control" name="setting_name" required>
                                </div>
                                <div class="mb-3">
                                    <label>Setting Value</label>
                                    <input class="form-control" name="setting_value" required>
                                </div>
                                <div class="mb-3">
                                    <label>Description</label>
                                    <input class="form-control" name="description">
                                </div>
                                <!-- CSRF token -->
                                {% if csrf_token %}
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                {% endif %}
                                <button class="btn btn-primary">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End update global setting form -->
            <!-- Content Row -->

            <div class="row">


            </div>

            <!-- Content Row -->
            <div class="row">

            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    {% include 'footer.html' %}

</div>
<!-- End of Content Wrapper -->
{% endblock %}