{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
{% include 'sidebar.html' %}
<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
        
            <!-- Main Content -->
            <div id="content">

                {% include 'navbar.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <!-- Begin alerts -->
                    <div class="container mt-4">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}
                            <div role="alert" class="alert alert-info alert-dismissible fade show">
                                    {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <!-- End alerts -->


                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h4 class="h4 mb-0 text-gray-800">Profile page</h4>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                     <!-- Begin profile content -->
                    {% if not user.is_confirmed %} 
                    
                        <div class="alert alert-warning" role="alert">
                        Please confirm your email.
                        </div> 
                        <div class="row mb-4"> 
                        <form action="{{ url_for('auth.resend_confirmation') }}" method="post">
                        <button class="form-control btn btn-warning" type="submit">Resend Confirmation Email</button>
                        </form>
                    </div>
                    {% endif %} 
                    <div class="row"> 
                        <p>Username: {{ user.username }}</p> 
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        <p>Email: {{ user.email }}</p>
                    </div>
                    <div class="row"> 
                        <p>Phone: {{ user.details.phone if user.details else 'N/A' }}</p> 
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        <p>{{ _('address') }}: {{ user.details.address if user.details else 'N/A' }}</p>
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        <p>{{ _('company') }}: {{ user.details.company if user.details else 'N/A' }}</p>
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        <p>preferred language: {{ config['LANGUAGES'][user.details.pref_lang] if user.details else 'N/A' }}</p>
                    </div>
                    <!-- Content Row -->
                     <div class="row">
                       <p><p>Last login: {{ current_user.details.last_login }}</p></p>
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                      <a href="{{ url_for('user.user_settings') }}">{{ _('Settings') }}</a>
                    </div>
                    <div class="row">
                      <a href="{{ url_for('user.edit_details') }}">{{ _('Edit Profile Details') }}</a>
                    </div>
                    <!-- End profile content -->
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
{% endblock %}
