{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}


<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include 'navbar.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <!-- Begin alerts -->
                    <div class="container mt-4">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}
                            <div role="alert" class="alert alert-info alert-dismissible fade show">
                                    {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <!-- End alerts -->


                    {% include 'page_head.html' %}

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Begin Register form -->
                         <div class="card shadow-lg w-100 mx-auto" style="max-width: 400px;">
                            <div class="card-body">
                                <div class="text-center">
                                    <h1 class="card-title h3">Sign Up</h1>
                                    <p class="card-text text-muted">Sign up below to create your account</p>
                                </div>
                                <div class="mt-4">
                                    <form method="POST">
                                        {{ form.hidden_tag() }}
                                        <div class="mb-4">
                                            {{ form.username.label }} 
                                            {{ form.username(class_="form-control") }}<br>
                                        </div>
                                        <div class="mb-4">
                                            {{ form.email.label }} 
                                            {{ form.email(class_="form-control") }}<br>
                                        </div>
                                        <div class="mb-3">
                                            {{ form.password.label }} 
                                            {{ form.password(class_="form-control") }}<br>
                                        </div>
                                        <div class="mb-3">
                                            {{ form.confirm.label }} 
                                            {{ form.confirm(class_="form-control") }}
                                        </div>
                                        <div class="d-grid">
                                            {{ form.submit(class_="btn btn-dark btn-lg") }}
                                        </div>
                                        <p class="text-center text-muted mt-4">Already have an account?
                                            <a href="{{ url_for('auth.login') }}" class="text-decoration-none">Sign in</a>.
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- End Register form -->
                    </div>

                    <!-- Content Row -->

                    <div class="row">
                        {% block pippo %}{% endblock %}
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% include 'footer.html' %}

        </div>
        <!-- End of Content Wrapper -->
{% endblock %}