{% extends 'base.html' %}
{% block title %}Update password{% endblock %}
{% block content %}
{% include 'sidebar.html' %}
<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
        
            <!-- Main Content -->
            <div id="content">

                {% include 'navbar.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <!-- Begin alerts -->
                    <div class="container mt-4">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}
                            <div role="alert" class="alert alert-info alert-dismissible fade show">
                                    {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <!-- End alerts -->


                    {% include 'page_head.html' %}

                    <!-- Content Row -->
                     <!-- Begin update pw form -->
                    <div class="row">
                     <div class="card shadow-lg w-100 mx-auto" style="max-width: 400px;">
                        <div class="card-body">
                            <div class="text-center">
                                <h1 class="card-title h3">Update password</h1>
                                <p class="card-text text-muted">update your password using this page:</p>
                            </div>
                            <div class="mt-4">
                                <form method="POST">
                                    {{ form.hidden_tag() }}
                                    <div class="mb-4">
                                        {{ form.current_password.label }} 
                                        {{ form.current_password(class_="form-control form-control-sm") }}<br>
                                    </div>
                                    <div class="mb-4">
                                        {{ form.password.label }} 
                                        {{ form.password(class_="form-control form-control-sm") }}<br>
                                    </div>
                                    <div class="mb-4">
                                        {{ form.confirm.label }} 
                                        {{ form.confirm(class_="form-control form-control-sm") }}<br>
                                    </div>
                                    <div class="mb-4">
                                        {{ form.submit() }}
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>  
                    </div>
                    <!-- End update pw form -->
                    <!-- Content Row -->

                    <div class="row">
                       
                        
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                      
                    </div>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% include 'footer.html' %}

        </div>
        <!-- End of Content Wrapper -->
{% endblock %}

