{% extends 'base.html' %}
{% block title %}Upload Profile Picture{% endblock %}
{% block content %}
{% include 'sidebar.html' %}
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        {% include 'navbar.html' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">


            <!-- Begin alerts -->
            <div class="container mt-4">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div role="alert" class="alert alert-info alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <!-- End alerts -->


            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h4 class="h4 mb-0 text-gray-800">Upload profile pic</h4>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                        class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
            </div>

            <!-- Content Row -->
            <!-- Begin upload profile image form -->
            <div class="row">
                <div class="card shadow-lg w-100 mx-auto" style="max-width: 480px;">
                    <div class="card-body">
                        <div class="text-center">
                            <h1 class="card-title h3">Upload profile pic</h1>
                        </div>
                        <div class="mt-4">
                            <form method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <input class="form-control" type="file" name="profile_pic" required>
                                </div>
                                <!-- CSRF token -->
                                {% if csrf_token %}
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                {% endif %}
                                <button type="submit" class="form-control btn btn-primary">Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End update email form -->
            <!-- Content Row -->

            <div class="row">


            </div>

            <!-- Content Row -->
            <div class="row">

            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2021</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->
{% endblock %}